name: Deploy to S3

on:
  push:
    branches:
      - main  # Ou o nome da sua branch principal

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout código
        uses: actions/checkout@v3

      - name: Configurar AWS CLI
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1  # Verifique se o seu S3 está nessa região

      - name: Sincronizar arquivos com S3
        run: |
          aws s3 sync . s3://NOME-DO-SEU-BUCKET --delete --exclude ".git*"
